---
layout: base
title: Press Release
---
<div class="startup__mask">
	<img src="/lib/img/crane-side.png" />
	<h1 class="startup__one">Press<br> Release</h1>
</div>

<section class="intro">
    <img src="/lib/logos/techatnyu.png" alt="tech@nyu" class="logo" />
</section>



{{ content }}

<br>

<img src="/lib/img/stock-ticker.png" width="auto" alt="">

<br><br>

<div class="owl-carousel owl-theme">
    <div class="item"><h4>“I am so excited that Tech@NYU has finally IPO’ed. As CEO, I’m officially a legend. This is just one of many steps that I am taking towards world domination. Thank you for all of the support!” - Terri Burns, CEO</h4></div>
    <div class="item"><h4>“I knew Terri could do it. I supported her the whole way.” - Drake, Artistic Director</h4></div>
    <div class="item"><h4>“Blessings. The key to success is having a great team on your side” - DJ Khaled, Advisor</h4></div>
    <div class="item"><h4>“Let us not take this planet for granted. I do not take today for granted.” - Freia Lobo, COO</h4></div>
    <div class="item"><h4>“As our marketing lead likes to say, we, ahem Startup from the bottom, now we’re here. Unlike most student groups our sheer determination, hard work and ability is the reason we got this far. A lot of people think we just do events. We don’t, we bring the ruckus whether on-campus or on Wall Street” - Jordan, Marketing Lead</h4></div>
</div>