---
layout: base
title: Press Release
---
<div class="ipo__mask">
	<img src="/lib/img/crane-side.png" />
	<h1 class="ipo__one">Press<br> Release</h1>
</div>

<section class="intro">
    <img src="/lib/img/techatnyu.png" alt="tech@nyu" class="logo" />
</section>

<br>

<div class = "everything" align="center">
{{ content }}

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ipo.techatnyu.org/" data-text="TechatNYU just went public! Quick -- by some stock!" data-via="techatnyu" data-size="large" data-hashtags="nyusw">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<br>

<div class="owl-carousel owl-theme">
    <div class="item">
      <h4>“I am so excited that Tech@NYU has finally IPO’ed. As CEO, I’m officially a legend. This is just one of many steps that I am taking towards world domination. Thank you for all of the support!” - <a href="http://twitter.com/tcburning">Terri Burns</a>, CEO</h4></div>
    <div class="item">
        <h4>“I knew Terri could do it. I supported her the whole way.” - Drake, Artistic Director</h4></div>
    <div class="item">
        <h4>“Blessings. The key to success is having a great team on your side” - DJ Khaled, Advisor</h4></div>
    <div class="item">
      <h4>“Let us not take this planet for granted. I do not take today for granted.” - <a href="http://twitter.com/freialobo">Freia Lobo</a>, COO</h4></div>
    <div class="item">
      <h4>“Startup from the bottom, now we’re here. A lot of people think we just do events. We don’t, we bring the ruckus whether on-campus or on Wall Street” - <a href="http://twitter.com/jordanftw_yr">Jordan</a>, Marketing Lead</h4></div>
</div>

<br><br><br><br>

<i style="font-size: 30px"><a href="http://nyusw.com/">April fools!</a></i>
</div>
